
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica';
  font-size: 16px;
}

input {
  height: 50px;
  width: 99%;
  font-size: 16px;
  overflow: auto;
  padding-left: 5px;
}

textarea {
  width: 99%;
  font-size: 16px;
  overflow: auto;
  padding: 10px 5px;
  margin-top: 10px;

}

button {
  height: 50px;
  width: 100px;
  background-color: white;
  color: $main-color;
  font-size: 16px;
  margin-top: 6px;
  align-self: right;
  cursor: pointer;

}

a {
  color: $main-color;
  text-decoration: none;
}
