etf-login-form {

  color: white;
  margin: $main-margin;
  display: flex;
  flex-direction: column;

  .button-wrapper {
    margin-left: auto;
    margin-bottom: 10px;
  }

  .form {
    input {
      width: -webkit-fill-available;
      resize: vertical;
      &:first-child {
        margin-bottom: 10px;
      }
    }
  }
}
