{{#if session.isAuthenticated}}
  {{outlet}}
  <button {{action 'logout'}} type="submit" class="logout-button">Logout</button>
{{else}}
  {{etf-login-form username=username password=password clickAction=(action 'login' username password)}}
{{/if}}
