<div class="app">

  <header>
    <a class="title" href="#"><em>ETF</em> lex</a>
  </header>

  {{outlet}}

  <footer>
    <span class="copyright">made by <a href="https://judithmassar.com" target="_blank">lajuma</a></span>
  </footer>
</div>
